.env
.venv/
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.ruff_cache/
.pytest_cache/
.mypy_cache/
.env
node_modules/
.svelte-kit/
build/
dist/
photon_data/
tileserver_data/
tmp/
*.log
*.exe
*.exe~
*.dll
*.so
*.dylib
Thumbs.db
.DS_Store
backend/local-storage/